<!DOCTYPE html>
<html>
  <head>
    <title>找電影</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      #map {
        margin-right: auto;
        margin-left:auto;
        height: 95%;
      }

      html,body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .scrolling-wrapper-flexbox {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 100%;
        transform: none;
      }
      .card {
        flex: 0 0 auto;
      }
      img {
        max-height: 100%;
        max-width: 100%;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/module"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=___&libraries=places&language=zh-TW&callback=initMap" async defer></script>
    
  </head>
  <body>
    <div id="poster" class="scrolling-wrapper-flexbox">
      <% for(const img of files ){ %>
        <a class="card " href="javascript:void(0)" onclick="getTheaterLocation(event)"> <img  alt="<%= img.name.split('.')[0] %>" src="https://storage.googleapis.com/movie-1546758871417.appspot.com/<%= img.name %>"></img>
        </a>
      <%}%>
    </div>
    <div id="map"> </div>
    <a href="javascript:void(0)" onclick="backToTop(event)"><h1 style="text-align: center">Back to top</h1></a>
    <script type="text/javascript">
      function backToTop(event){
        TweenLite.to(window, 0.7,{scrollTo:"#poster"}); 
      }
    </script>
  </body>
</html>